<div class="row-fluid visible-desktop">
  <div class="offset4 span4">
    <form class="form-horizontal">
      <fieldset>
        <legend>Sign up</legend>
        <div class="control-group">
          <label class="control-label">Name</label>
          <div class="controls">
            <input class="input-block-level" type="text" name="name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Email</label>
          <div class="controls">
            <input class="input-block-level" type="text" name="email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Password</label>
          <div class="controls">
            <input class="input-block-level" type="password" name="password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Confirm</label>
          <div class="controls">
            <input class="input-block-level" type="password" name="confirmPassword">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button class="btn">Sign up</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
