<div class="row-fluid visible-phone">
  <div class="span12">
    <form>
      <fieldset>
        <legend>Sign up</legend>
        <label>Name</label>
        <input class="input-block-level" type="text" ng-model="user.name">
        <label>Email</label>
        <input class="input-block-level" type="email" ng-model="user.email">
        <label>Confirm Email</label>
        <input class="input-block-level" type="email" ng-model="user.confirmEmail">
        <label>Password</label>
        <input class="input-block-level" type="password" ng-model="user.password">
        <label>Confirm Password</label>
        <input class="input-block-level" type="password" ng-model="user.confirmPassword">
        <button class="btn" ng-click="signup()">Sign up</button>
      </fieldset>
    </form>
  </div>
</div>
